@{
    ViewData["Title"] = "Formularios Base";
}


@section scripts{
    
    <script type='text/javascript'>
        var UrlGetDatos = "@Url.Action("F_GetDatos", "FormsBase", new { Area = "Admin" })";

        $(document).ready(function () {

            //Manejo de fechas con Kendo
            $(".Calendario").kendoDatePicker({
                culture: "es-CO",
                interval: 1,
                animation: {
                    close: {
                        effects: "fadeOut zoom:out",
                        duration: 300
                    },
                    open: {
                        effects: "fadeIn zoom:in",
                        duration: 300
                    }
                }
            });
            //Fin Manejo de fechas Kendo

            //Control para el Tabs
            $('.fancyTabs .tab').on('click', function (e) {
                $(this).siblings().removeClass('active');
                $(this).addClass('active');              
            });
            $('#fancyTabWidget .nexttab').on('click', function () {
                $('#fancyTabWidget .tab.active').removeClass('active').next().tab('show');
            });
            $('#fancyTabWidget .prevtab').on('click', function () {
                $('#fancyTabWidget .tab.active').removeClass('active').prev().tab('show');
            });


        });

        function OpenModal() {
            $('#Modal_VerRegistro').modal("show");
        }

        function OpenModalError() {
            ModalError("Señor(a) Funcionario(a:)", "Mensaje");
        }

        function SweetAlertError() {
            Swal.fire({
                type: 'error',
                title: 'Señor(a) Funcionario(a:)',
                text: 'El paciente presenta inasistencia a citas, debe solicitar asistencia pedagógica para aplicar comparendo y habilitar citas'
            });
        }

        function SweetAlertExitoso() {
            Swal.fire({
                type: 'success',
                title: 'Señor(a) Funcionario(a:)',
                text: 'Grabado e'
            });
        }

        function OpenModalExit() {
            ModalExitoso("Señor(a) Funcionario(a:)", "Mensaje");
        }
        function Alertas() {
            create('error', 'Se deben digitar minimo dos campos para realizar la busqueda', '/img/AlertError.png');
            return;
        }

        function GetGrilla() {
            if ($.fn.dataTable.isDataTable("#tbGrilla")) {
                $("#tbGrilla").DataTable().destroy();
            }
            $("#tbGrilla").DataTable({
                "ajax": {
                    type: "POST",
                    url: UrlGetDatos,
                    async: true,
                    data: { V_Identificacion: $("#txtCodigoReporte").val() },
                    datatype: "json",
                    cache: false
                },
                "initComplete": function (settings, json) {
                    if (json.success) {
                        $("#pn_Grilla").removeClass('hidden');
                    }
                    else {
                        $("#pn_Grilla").addClass('hidden');
                    }
                },
                language: glOpcionesIdioma,
                responsive: true,
                "columns": [
                    {
                        "data": null, className: "celdaCenter celda4", "render": function (data, type, row) {
                            var inicioBoton = '<div class="dropdown"><button class="btn btn-success" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="fas fa-align-center"></span></button><ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="background-color: lightgoldenrodyellow; line-height:23px;">';
                            var Ver = `<li style="padding-left: 15px;"><a href="javascript:AddBeneficiario(${row.IdBeneficiario}, '${row.Estado}')"><i class="fas fa-check-circle green"></i> Seleccionar como beneficiado(a)</a></li>`;
                            var finBoton = '</ul></div>';
                            return inicioBoton + Ver + finBoton;
                        }
                    },
                    { "title": "Nombres y Apellidos", "data": "consecutivo", "name": "consecutivo", className: "celdaJust celda26" },
                    { "title": "Identificacion", "data": "imagenesconsecutivas", "name": "imagenesconsecutivas", className: "celdaCenter celda10" },
                    { "title": "Dirección", "data": "url", "name": "url", className: "celdaJust celda20" },
                    { "title": "Celular", "data": "filename", "name": "filename", className: "celdaCenter" },
                    { "title": "Lugar de Residencia", "data": "orden", "name": "orden", className: "celdaCenter" }
                ],
                lengthMenu: [
                    [10, 25, 50, -1],
                    ['10 registros', '25 registros', '50 registros', 'Todos']
                ],
                ordering: false,
                pageLength: 10,
                bLengthChange: false,
                searching: true,
                paging: true,
                info: true
            });
        }

    </script>
}

<section class="content-header"></section>
<div class="page-titles">
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a id="no-link" href="@Url.Action("Index", "Home", new { Area = "" })"><i class="fa fa-home"></i> <span>Inicio</span></a></li>
            <li class="active">Formulario Base</li>
        </ul>
    </div>
</div>

<div class="card border-success">
    <div class="card-header d-flex align-items-center">
        <h4 class="card-title text-white"><i class="mr-2 mdi mdi-account-card-details text-white"></i>Title</h4>
        <div class="card-actions ms-auto d-flex button-group">
            <a class="link text-white d-flex align-items-center" data-action="collapse"><i class="ti-minus"></i></a>
            <a class="mb-0 btn-minimize text-white link d-flex align-items-center" data-action="expand"><i class="mdi mdi-arrow-expand"></i></a>
            <a class="mb-0 link d-flex text-white align-items-center pe-0" data-action="close">
                <i data-feather="x" class="feather-sm"></i>
            </a>
        </div>
    </div>
    <div class="card-body collapse show">
        <div class="row">
            <div class="col-md-4 MargFloatBoos">
                <div class="form-group has-float-label">
                    <input tabindex="731009" type="text" id="txtCFechaCirugia" style="width:100%" placeholder="Fecha Cirugía" class="Calendario" />
                    <label class="Labels">Fecha Notificación:</label>
                </div>
            </div>
            <div class="col-md-4 MargFloatBoos">
                <div class="form-group has-float-label">
                    <input tabindex="2" name="txtCodigoReporte" type="text" id="txtCodigoReporte" value="" autocomplete="off" placeholder="Digite Código de Reporte" class="form-control InputPading">
                    <label class="Labels">Código de Reporte:</label>
                </div>
            </div>
            <div class="col-md-4 MargFloatBoos">
                <div class="form-group has-float-label">
                    <div class="input-group">
                        <input tabindex="3" name="txtNumIdentificacion" type="text" id="txtNumIdentificacion" autocomplete="off" placeholder=" " class="form-control InputPading" onkeypress="return soloNumeros(event)">
                        <span class="input-group-btn">
                            <button tabindex="4" class="btn btn-success" id="btnGetDatosPaciente" onclick="GetDatosPaciente(); return false;" style="height:34px; border-radius: 0px 0px 0px 0px !important;" type="button" title="Buscar..."><b><i class="fas fa-search"></i></b></button>
                            <button tabindex="5" class="btn btn-warning" id="btnLimpiarGetDatosPaciente" onclick="LimpiarGetDatosPaciente(); return false;" style="height:34px; border-radius: 0px 5px 5px 0px !important; margin-left: -5px;" type="button" title="Limpiar Consulta"><b><i class="fa fa-eraser"></i></b></button>
                        </span>
                    </div>
                    <label class="Labels">No. Documento del Paciente:</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 MargFloatBoos">
                <div class="form-group has-float-label">
                    @Html.DropDownList("ddlProfesional", new List<SelectListItem> { new SelectListItem { Text = "Seleccione", Value = "0" } }, htmlAttributes: new { @tabindex = 5, @id = "ddlProfesional", @class = "form-control select2", style = "width: 100%;" })
                    <label class="Labels">Profesional:</label>
                </div>
            </div>
        </div>
        <fieldset>
            <legend style="width: calc(7.5em + .75rem + 2px) !important;">Especialidad...</legend>
            <div class="row">
                <div class="col-md-4 MargFloatBoos">
                    <div class="form-group has-float-label">
                        @Html.DropDownList("ddlArmaCuerpo", new List<SelectListItem> { new SelectListItem { Text = "Seleccione", Value = "0" } }, htmlAttributes: new { @tabindex = 18, @id = "ddlArmaCuerpo", @class = "form-control select2", style = "width: 100%;" })
                        <label class="Labels">Arma Cuerpo:</label>
                    </div>
                </div>
                <div class="col-md-4 MargFloatBoos">
                    <div class="form-group has-float-label">
                        @Html.DropDownList("ddlEspecialidad", new List<SelectListItem> { new SelectListItem { Text = "Seleccione", Value = "0" } }, htmlAttributes: new { @tabindex = 19, @id = "ddlEspecialidad", @class = "form-control select2", style = "width: 100%;" })
                        <label class="Labels">Especialidad:</label>
                    </div>
                </div>
                <div class="col-md-4 MargFloatBoos">
                    <div class="form-group has-float-label">
                        <input tabindex="20" name="txtPerteneceAEsp" type="text" id="txtPerteneceAEsp" autocomplete="off" placeholder=" " class="form-control InputPading" />
                        <label class="Labels">Pertenece a:</label>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="row" style="margin-top:18px">
            <div class="col-md-12 MargFloatBoos">
                <div class="form-group has-float-label">
                    <textarea tabindex="533" class="form-control" placeholder=" " rows="5" id="txtObservaCabezaCuello" name="txtObservaCabezaCuello" maxlength="4000" cols="40" style="height: 95px !important; text-align:justify; margin-bottom: 0px;"></textarea>
                    <label class="Labels">Observaciones:</label>
                </div>
            </div>
        </div>
        <div class="card-footer" style="margin-bottom: 10px;">
            <div class="col-md-12 text-right">
                <button tabindex="7603" type="button" id="btnConsultar" onclick="OpenModal(); return false;" style="border-radius: 0px 16px 0px 16px !important;" class="btn btn-buscar" title="Buscar"><span class="fa ico_buscar faa-pulse animated white"></span> Buscar</button>
                <button tabindex="7604" type="button" id="btnLimpiar" onclick="Alertas(); return false;" style="border-radius: 0px 16px 0px 16px !important;" class="btn btn-limpiar" title="Nuevo"><span class="fa ico_limpiar faa-ring animated"></span> Nuevo</button>
                <button tabindex="7605" type="button" id="btnEliminar" onclick="OpenModalError(); return false;" style="border-radius: 0px 16px 0px 16px !important;" class="btn btn-eliminar" title="Eliminar"><span class="fas fa-trash-alt faa-ring animated"></span> Eliminar</button>
                <button tabindex="7606" type="button" id="btnGrabar" onclick="OpenModalExit(); return false;" style="border-radius: 0px 16px 0px 16px !important;" class="btn btn-grad" title="Guardar"><span class="fa ico_grabar faa-wrench animated"></span> Guardar</button>
                <button tabindex="7607" type="button" id="btnImprimir" onclick="SweetAlertError(); return false;" style="border-radius: 0px 16px 0px 16px !important;" class="btn btn-grad" title="Imprimir"><span class="fa fa-print faa-wrench animated"></span> Imprimir</button>
                <button tabindex="15" type="button" id="btnUdp" onclick="SweetAlertExitoso(); return false;" style="border-radius: 0px 16px 0px 16px !important;" class="btn btnudp"><span class="fa fa-refresh fa-spin white"></span> Actualizar</button>
                <button tabindex="15" type="button" id="btnUdp" onclick="GetGrilla(); return false;" style="border-radius: 0px 16px 0px 16px !important;" class="btn btnudp"><span class="fas fa-redo fa-spin white"></span> Grilla</button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times yellow"></i></button>
                <button type="button" data-dismiss="modal" style="border-radius: 0px 16px 0px 16px !important;" class="btn btn-cerrar"><span class="fas fa-sign-out-alt faa-horizontal animated"></span> Cerrar</button>
            </div>
        </div>
        <div class="col-md-3 MargFloatBoos">
            <div class="form-horizontal">
                <div class="form-group row" style="margin-bottom: 0px;">
                    <label class="col-md-4 col-form-label Labelr" style="margin-top:0px;">Activar Usuario:</label>
                    <div class="col-md-5 text-left" style="padding-left:0px;">
                        <input tabindex="111" type="checkbox" checked data-toggle="toggle" id="chkDesignado">
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>

<div class="card border-success">
    <div class="card-header d-flex align-items-center">
        <h4 class="card-title text-white"><i class="mr-2 mdi mdi-account-card-details text-white"></i>Grillas</h4>
        <div class="card-actions ms-auto d-flex button-group">
            <a class="link text-white d-flex align-items-center" data-action="collapse"><i class="ti-minus"></i></a>
            <a class="mb-0 btn-minimize text-white link d-flex align-items-center" data-action="expand"><i class="mdi mdi-arrow-expand"></i></a>
            <a class="mb-0 link d-flex text-white align-items-center pe-0" data-action="close">
                <i data-feather="x" class="feather-sm"></i>
            </a>
        </div>
    </div>
    <div id="pn_Grilla" class="card-body collapse show">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive m-t-40" style="margin-top: 0px !important;">
                    <table id="tbGrilla" class="table table-bordered table-striped" width="100%" style="margin-top: -1px !important;"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="fancyTabWidgets" class="tabs t-tabs">
    <ul class="nav nav-tabs fancyTabs" role="tablist">
        <li class="tab fancyTab active">
            <div class="arrow-down"><div class="arrow-down-inner"></div></div>
            <a id="tab10" href="#tabBody10" role="tab" aria-controls="tabBody10" aria-selected="true" data-bs-toggle="tab" tabindex="0"><span class="fa fa-bars"></span><span class="hidden-xs">Details</span></a>
            <div class="whiteBlock"></div>
        </li>

        <li class="tab fancyTab">
            <div class="arrow-down"><div class="arrow-down-inner"></div></div>
            <a id="tab11" href="#tabBody11" role="tab" aria-controls="tabBody11" aria-selected="true" data-bs-toggle="tab" tabindex="0"><span class="fa fa-calendar-o"></span><span class="hidden-xs">Plans</span></a>
            <div class="whiteBlock"></div>
        </li>

        <li class="tab fancyTab">
            <div class="arrow-down"><div class="arrow-down-inner"></div></div>
            <a id="tab12" href="#tabBody12" role="tab" aria-controls="tabBody12" aria-selected="true" data-bs-toggle="tab" tabindex="0"><span class="fa fa-refresh"></span><span class="hidden-xs">Upgrades</span></a>
            <div class="whiteBlock"></div>
        </li>

        <li class="tab fancyTab">
            <div class="arrow-down"><div class="arrow-down-inner"></div></div>
            <a id="tab13" href="#tabBody13" role="tab" aria-controls="tabBody13" aria-selected="true" data-bs-toggle="tab" tabindex="0"><span class="fa fa-money"></span><span class="hidden-xs">Payment</span></a>
            <div class="whiteBlock"></div>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content fancyTabContent" aria-live="polite">
        <div class="tab-pane fade active in" id="tabBody10" role="tabpanel" aria-labelledby="tab10" aria-hidden="false" tabindex="0">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group has-float-label">
                            <input tabindex="402" id="txtEspecialidad" name="txtEspecialidad" type="text" autocomplete="off" placeholder=" " class="form-control InputPading" />
                            <label class="Labels">Especialidad:</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group has-float-label">
                            <div class="input-group">
                                <input tabindex="12" name="txtIdentificacion" type="text" id="txtIdentificacion" autocomplete="off" placeholder=" " class="form-control InputPading" />
                                <span class="input-group-btn">
                                    <button tabindex="31" class="btn btn-success" id="btnGetAtencionAmbIden" onclick="GetAtencionAmbIden(); return false;" style="height:34px; border-radius: 0px 0px 0px 0px !important;" type="button" title="Buscar..."><b><i class="fas fa-search"></i></b></button>
                                    <button tabindex="3" class="btn btn-warning" id="btnLimpiarAtencionAmbulatoriaA" onclick="LimpiarAtencionAmbulatoria(); return false;" style="height:34px; border-radius: 0px 5px 5px 0px !important; margin-left: -5px;" type="button" title="Limpiar Consulta"><b><i class="fa fa-eraser"></i></b></button>
                                </span>
                            </div>
                            <label class="Labels">Número Identificación:</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group has-float-label">
                            <input tabindex="5" name="txtBusquedaInteligente" type="text" id="txtBusquedaInteligente" autocomplete="off" placeholder=" " class="form-control InputPading" style='text-transform:uppercase' />
                            <label class="Labels">Nombres y Apellidos:</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="tabBody11" role="tabpanel" aria-labelledby="tab11" aria-hidden="true" tabindex="0">
            <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group has-float-label">
                                <input tabindex="402" id="txtEspecialidad" name="txtEspecialidad" type="text" autocomplete="off" placeholder=" " class="form-control InputPading" />
                                <label class="Labels">Especialidad:</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group has-float-label">
                                <div class="input-group">
                                    <input tabindex="12" name="txtIdentificacion" type="text" id="txtIdentificacion" autocomplete="off" placeholder=" " class="form-control InputPading" />
                                    <span class="input-group-btn">
                                        <button tabindex="31" class="btn btn-success" id="btnGetAtencionAmbIden" onclick="GetAtencionAmbIden(); return false;" style="height:34px; border-radius: 0px 0px 0px 0px !important;" type="button" title="Buscar..."><b><i class="fas fa-search"></i></b></button>
                                        <button tabindex="3" class="btn btn-warning" id="btnLimpiarAtencionAmbulatoriaA" onclick="LimpiarAtencionAmbulatoria(); return false;" style="height:34px; border-radius: 0px 5px 5px 0px !important; margin-left: -5px;" type="button" title="Limpiar Consulta"><b><i class="fa fa-eraser"></i></b></button>
                                    </span>
                                </div>
                                <label class="Labels">Número Identificación:</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group has-float-label">
                                <input tabindex="5" name="txtBusquedaInteligente" type="text" id="txtBusquedaInteligente" autocomplete="off" placeholder=" " class="form-control InputPading" style='text-transform:uppercase' />
                                <label class="Labels">Nombres y Apellidos:</label>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="tab-pane  fade" id="tabBody12" role="tabpanel" aria-labelledby="tab12" aria-hidden="true" tabindex="0">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 MargFloatBoos">
                        <div class="form-group has-float-label">
                            <input tabindex="731009" type="text" id="txtCFechaCirugia" style="width:100%" placeholder="Fecha Cirugía" class="Calendario" />
                            <label class="Labels">Fecha Notificación:</label>
                        </div>
                    </div>
                    <div class="col-md-4 MargFloatBoos">
                        <div class="form-group has-float-label">
                            <input tabindex="2" name="txtCodigoReporte" type="text" id="txtCodigoReporte" value="" autocomplete="off" placeholder="Digite Código de Reporte" class="form-control InputPading">
                            <label class="Labels">Código de Reporte:</label>
                        </div>
                    </div>
                    <div class="col-md-4 MargFloatBoos">
                        <div class="form-group has-float-label">
                            <div class="input-group">
                                <input tabindex="3" name="txtNumIdentificacion" type="text" id="txtNumIdentificacion" autocomplete="off" placeholder=" " class="form-control InputPading" onkeypress="return soloNumeros(event)">
                                <span class="input-group-btn">
                                    <button tabindex="4" class="btn btn-success" id="btnGetDatosPaciente" onclick="GetDatosPaciente(); return false;" style="height:34px; border-radius: 0px 0px 0px 0px !important;" type="button" title="Buscar..."><b><i class="fas fa-search"></i></b></button>
                                    <button tabindex="5" class="btn btn-warning" id="btnLimpiarGetDatosPaciente" onclick="LimpiarGetDatosPaciente(); return false;" style="height:34px; border-radius: 0px 5px 5px 0px !important; margin-left: -5px;" type="button" title="Limpiar Consulta"><b><i class="fa fa-eraser"></i></b></button>
                                </span>
                            </div>
                            <label class="Labels">No. Documento del Paciente:</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 MargFloatBoos">
                        <div class="form-group has-float-label">
                            @Html.DropDownList("ddlProfesional1", new List<SelectListItem> { new SelectListItem { Text = "Seleccione", Value = "0" } }, htmlAttributes: new { @tabindex = 5, @id = "ddlProfesional1", @class = "form-control select2", style = "width: 100%;" })
                            <label class="Labels">Profesional:</label>
                        </div>
                    </div>
                </div>
                <fieldset style="padding: 2px 10px 0px 16px; margin-top: 0px; margin-bottom: 13px;">
                    <legend style="width: calc(8.5em + .75rem + 2px) !important; font-size: 18px !important; padding: 0px 0px 0px 8px; margin-left: 9px; color: #13689b">Relación Molar...</legend>
                    <div class="row">
                        <div class="col-md-4 MargFloatBoos">
                            <div class="form-group has-float-label">
                                <input tabindex="731009" type="text" id="txtCFechaCirugia" style="width:100%" placeholder="Fecha Cirugía" class="Calendario" />
                                <label class="Labels">Fecha Notificación:</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-md-12" style="margin-bottom:17px;">
                        <div class="form-group has-float-label">
                            <textarea tabindex="533" class="form-control" placeholder=" " rows="5" id="txtObservaCabezaCuello" name="txtObservaCabezaCuello" maxlength="4000" cols="40" style="height: 95px !important; text-align:justify; margin-bottom: 0px;"></textarea>
                            <label class="Labels">Observaciones:</label>
                        </div>
                    </div>
                </div>
                <div class="card-footer" style="margin-bottom: 10px;">
                    <div class="col-md-12 text-right">
                        <button tabindex="7603" type="button" id="btnConsultar" onclick="OpenModal(); return false;" style="border-radius: 0px 16px 0px 16px !important;" class="btn btn-buscar" title="Buscar"><span class="fa ico_buscar faa-pulse animated white"></span> Buscar</button>
                        <button tabindex="7604" type="button" id="btnLimpiar" onclick="Alertas(); return false;" style="border-radius: 0px 16px 0px 16px !important;" class="btn btn-limpiar" title="Nuevo"><span class="fa ico_limpiar faa-ring animated"></span> Nuevo</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane  fade" id="tabBody13" role="tabpanel" aria-labelledby="tab13" aria-hidden="true" tabindex="0">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group has-float-label">
                            <input tabindex="402" id="txtEspecialidad" name="txtEspecialidad" type="text" autocomplete="off" placeholder=" " class="form-control InputPading" />
                            <label class="Labels">Especialidad:</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group has-float-label">
                            <div class="input-group">
                                <input tabindex="12" name="txtIdentificacion" type="text" id="txtIdentificacion" autocomplete="off" placeholder=" " class="form-control InputPading" />
                                <span class="input-group-btn">
                                    <button tabindex="31" class="btn btn-success" id="btnGetAtencionAmbIden" onclick="GetAtencionAmbIden(); return false;" style="height:34px; border-radius: 0px 0px 0px 0px !important;" type="button" title="Buscar..."><b><i class="fas fa-search"></i></b></button>
                                    <button tabindex="3" class="btn btn-warning" id="btnLimpiarAtencionAmbulatoriaA" onclick="LimpiarAtencionAmbulatoria(); return false;" style="height:34px; border-radius: 0px 5px 5px 0px !important; margin-left: -5px;" type="button" title="Limpiar Consulta"><b><i class="fa fa-eraser"></i></b></button>
                                </span>
                            </div>
                            <label class="Labels">Número Identificación:</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group has-float-label">
                            <input tabindex="5" name="txtBusquedaInteligente" type="text" id="txtBusquedaInteligente" autocomplete="off" placeholder=" " class="form-control InputPading" style='text-transform:uppercase' />
                            <label class="Labels">Nombres y Apellidos:</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="PnTab" style="margin-top:15px;">
    <div class="col-md-12">
        <section id="PnTabularesTipo1" style="margin-top:1px;">
            <!-- tabs -->
            <div class="pcss3t pcss3t-effect-scale pcss3t-theme-1" style="margin-bottom: 21px;">
                <input type="radio" name="pcss3t" checked id="Tab_1" class="tab-content-first">
                <label for="Tab_1"><i class="fa fa fa-ambulance faa-pulse animated Azul faa-pulse animated Azul"></i>Tipo Atención</label>

                <input type="radio" name="pcss3t" id="Tab2" class="tab-content-2">
                <label id="Tab_2" for="Tab2"><i class="fa far fa-address-card faa-pulse animated Azul"></i>Paciente</label>

                <input type="radio" name="pcss3t" id="Tab3" class="tab-content-3">
                <label id="Tab_3" for="Tab3"><i class="fa far fa-address-card faa-pulse animated Azul"></i>Todos</label>

                <ul>
                    <li id="tabBody0" class="tab-content tab-content-first">
                        <div class="card-body">
                            <div class="col-md-12">
                                <div class="row justify-content-center">
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="form-horizontal col-md-12">
                                                <div class="form-group row">
                                                    <label class="control-label col-md-2">Estado:</label>
                                                    <div class="col-md-7" style="margin-top:5px;">
                                                        <label><input type="radio" name="RadioEstado" id="C" value="C" class="minimal">&nbsp;Clínica de Heridas</label>&nbsp;&nbsp;&nbsp;
                                                        <label><input type="radio" name="RadioEstado" id="N" value="N" class="minimal">&nbsp;Notas de Enfermería</label>&nbsp;&nbsp;&nbsp;
                                                        <label><input type="radio" name="RadioEstado" id="P" value="P" class="minimal">&nbsp;Procedimientos</label>&nbsp;&nbsp;&nbsp;
                                                        <label><input type="radio" name="RadioEstado" id="V" value="V" class="minimal">&nbsp;Vacunación</label>&nbsp;&nbsp;&nbsp;
                                                    </div>
                                                    <div class="col-md-3">
                                                        <button tabindex="7603" type="button" id="btnAtencionAmbTipoAten" onclick="GetAtencionAmbTipoAten(); return false;" style="border-radius: 0px 16px 0px 16px !important;" class="btn btn-buscar" title="Buscar"><span class="fa ico_buscar faa-pulse animated white"></span> Buscar</button>
                                                        <button tabindex="7604" type="button" id="btnLimpiarAtencionAmbulatoria" onclick="LimpiarAtencionAmbulatoria(); return false;" style="border-radius: 0px 16px 0px 16px !important;" class="btn btn-limpiar" title="Nuevo"><span class="fa ico_limpiar faa-ring animated"></span> Nuevo</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="tabBody1" class="tab-content tab-content-2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group has-float-label">
                                        <input tabindex="402" id="txtEspecialidad" name="txtEspecialidad" type="text" autocomplete="off" placeholder=" " class="form-control InputPading" />
                                        <label class="Labels">Especialidad:</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group has-float-label">
                                        <div class="input-group">
                                            <input tabindex="12" name="txtIdentificacion" type="text" id="txtIdentificacion" autocomplete="off" placeholder=" " class="form-control InputPading" />
                                            <span class="input-group-btn">
                                                <button tabindex="31" class="btn btn-success" id="btnGetAtencionAmbIden" onclick="GetAtencionAmbIden(); return false;" style="height:34px; border-radius: 0px 0px 0px 0px !important;" type="button" title="Buscar..."><b><i class="fas fa-search"></i></b></button>
                                                <button tabindex="3" class="btn btn-warning" id="btnLimpiarAtencionAmbulatoriaA" onclick="LimpiarAtencionAmbulatoria(); return false;" style="height:34px; border-radius: 0px 5px 5px 0px !important; margin-left: -5px;" type="button" title="Limpiar Consulta"><b><i class="fa fa-eraser"></i></b></button>
                                            </span>
                                        </div>
                                        <label class="Labels">Número Identificación:</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group has-float-label">
                                        <input tabindex="5" name="txtBusquedaInteligente" type="text" id="txtBusquedaInteligente" autocomplete="off" placeholder=" " class="form-control InputPading" style='text-transform:uppercase' />
                                        <label class="Labels">Nombres y Apellidos:</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="tabBody2" class="tab-content tab-content-3">
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <div class="col-md-4">
                                    <div class="form-group has-float-label">
                                        <button tabindex="7603" type="button" id="btnGetAtencionAmbTodos" onclick="GetAtencionAmbTodos(); return false;" style="border-radius: 0px 16px 0px 16px !important;" class="btn btn-buscar" title="Buscar"><span class="fa ico_buscar faa-pulse animated white"></span> Buscar Todos los Pacientes</button>
                                        <button tabindex="7604" type="button" id="btnLimpiarAtencionAmbulatoriaB" onclick="LimpiarAtencionAmbulatoria(); return false;" style="border-radius: 0px 16px 0px 16px !important;" class="btn btn-limpiar" title="Nuevo"><span class="fa ico_limpiar faa-ring animated"></span> Nuevo</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!--/ tabs -->
        </section>
    </div>
</section>


<div class="modal fade" id="Modal_VerRegistro" aria-labelledby="bs-example-modal-lg" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center">
                <h4 class="modal-title" id="myLargeModalLabel">Extra Large modal</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4>Overflowing text to show scroll behavior</h4>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" style="border-radius: 0px 16px 0px 16px !important;" class="btn btn-cerrar"><span class="fas fa-sign-out-alt faa-horizontal animated"></span> Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade show" id="Modal_Transacciones" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="scroll-long-outer-modal" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content CuadroModal">
            <div class="modal-header d-flex align-items-center">
                <h2 class="text-center" id="TituloMensaje"></h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="text-center" id="ContenidoCambio"></div>
            </div>
            <div class="modal-footer" style="justify-content:center;">
                <button type="button" data-bs-dismiss="modal" style="border-radius: 0px 16px 0px 16px !important;" class="btn btn-cerrar"><span class="fas fa-sign-out-alt faa-horizontal animated"></span> Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Estado Proceso-->
<div id="Process">
    <div class="loader_sis">
        <div class="loader_dialoge">
            <div class="loader_containere text-center">
                <div class="loadere"></div>
                <h4 class="text-white">Procesando, espere...</h4>
            </div>
        </div>
    </div>
    <div class="loader_backe"></div>
</div>