@{
    ViewData["Title"] = "Empleados";
}

@section scripts{
    <script src="~/areas/consultas/empleados.js?v=0.3.0"></script>
    <script>

        var UrlGetEmpleados = "@Url.Action("GetEmpleados", "CtrCrudEjemplo", new { Area = "Consultas" })";
        var UrlCrearEmpleado = "@Url.Action("PostEmpleado", "CtrCrudEjemplo", new { Area = "Consultas" })";
        var UrlEliminarEmpleado = "@Url.Action("DeleteEmpleado", "CtrCrudEjemplo", new { Area = "Consultas" })";
        var UrlActualizarEmpleado = "@Url.Action("PutEmpleado", "CtrCrudEjemplo", new { Area = "Consultas" })";
    </script>
}

<section class="content-header"></section>
<div class="page-titles">
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a id="no-link" href="@Url.Action("Index", "Home", new { Area = "" })"><i class="fa fa-home"></i> <span>Inicio</span></a></li>
            <li class="active">Crud Empleados</li>
        </ul>
    </div>
</div>

<div class="card border-success">
    <div class="card-header d-flex align-items-center">
        <h4 class="card-title text-white"><i class="mr-2 mdi mdi-account-card-details text-white"></i>Title</h4>
        <div class="card-actions ms-auto d-flex button-group">
            <a class="link text-white d-flex align-items-center" data-action="collapse"><i class="ti-minus"></i></a>
            <a class="mb-0 btn-minimize text-white link d-flex align-items-center" data-action="expand"><i class="mdi mdi-arrow-expand"></i></a>
            <a class="mb-0 link d-flex text-white align-items-center pe-0" data-action="close">
                <i data-feather="x" class="feather-sm"></i>
            </a>
        </div>
    </div>
    <div class="card-body collapse show">
        <div class="row">
            <div class="col-md-4 MargFloatBoos">
                <div class="form-group has-float-label">
                    <div class="input-group">
                        <input tabindex="3" name="txtIdentificacion" type="text" id="txtIdentificacion" autocomplete="off" placeholder=" " class="form-control InputPading">
                        <span class="input-group-btn">
                            <button tabindex="4" class="btn btn-success" id="btnGet" onclick="GetGrilla(); return false;" style="height:34px; border-radius: 0px 0px 0px 0px !important;" type="button" title="Buscar..."><b><i class="fas fa-search"></i></b></button>
                            <button tabindex="5" class="btn btn-warning" id="btnLimpiarGetDatosPaciente" onclick="LimpiarGetDatosPaciente(); return false;" style="height:34px; border-radius: 0px 5px 5px 0px !important; margin-left: -5px;" type="button" title="Limpiar Consulta"><b><i class="fa fa-eraser"></i></b></button>
                        </span>
                    </div>
                    <label class="Labels">No. Documento del Paciente:</label>
                </div>
            </div>
        </div>
        <div class="card-footer" style="margin-bottom: 10px;">
            <div class="col-md-12 text-right">
                <button tabindex="2" type="button" id="btnLimpiar" onclick="OpenModal(); return false;" style="border-radius: 0px 16px 0px 16px !important;" class="btn btn-limpiar" title="Nuevo"><span class="fa ico_limpiar faa-ring animated"></span> Nuevo</button>
            </div>
        </div>
    </div>
</div>

<div class="card border-success hidden" id="pn_Grilla" style="margin-bottom:-62px !important">
    <div class="card-header d-flex align-items-center">
        <h4 class="card-title text-white"><i class="mr-2 fa fa-server text-white"></i>Empleados</h4>
    </div>
    <div class="card-body collapse show">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive m-t-40" style="margin-top: 0px !important;">
                    <table id="tbGrilla" class="table table-bordered table-striped" width="100%" style="margin-top: -1px !important;"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Modal_VerRegistro" aria-labelledby="bs-example-modal-lg" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center">
                <h4 class="modal-title" id="myLargeModalLabel">Agregar Funcionario</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 MargFloatBoos">
                        <div class="form-group has-float-label">
                            <input tabindex="20" name="txtNombre" type="text" id="txtNombre" autocomplete="off" placeholder=" " class="form-control InputPading" />
                            <label class="Labels">Nombre:</label>
                        </div>
                    </div>
                    <div class="col-md-3 MargFloatBoos">
                        <div class="form-group has-float-label">
                            <input tabindex="20" name="txtApellidos" type="text" id="txtApellidos" autocomplete="off" placeholder=" " class="form-control InputPading" />
                            <label class="Labels">Apellidos:</label>
                        </div>
                    </div>
                    <div class="col-md-3 MargFloatBoos">
                        <div class="form-group has-float-label">
                            <input tabindex="20" name="txtIdentificacionCrud" type="text" id="txtIdentificacionCrud" autocomplete="off" placeholder=" " class="form-control InputPading" />
                            <label class="Labels">Identificacion:</label>
                        </div>
                    </div>
                    <div class="col-md-3 MargFloatBoos">
                        <div class="form-group has-float-label">
                            <input tabindex="20" name="txtEmail" type="text" id="txtEmail" autocomplete="off" placeholder=" " class="form-control InputPading" />
                            <label class="Labels">Email:</label>
                        </div>
                    </div>
                </div>
            </div>
            <!--Se Ingresa Los Botones por JavaScript-->
            <div id="FooterModal" class="modal-footer"></div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@*<div class="modal fade" id="Modal_Actualizar" aria-labelledby="bs-example-modal-lg" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center">
                <h4 class="modal-title" id="myLargeModalLabel">Actualizar Funcionario</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 MargFloatBoos">
                        <div class="form-group has-float-label">
                            <input tabindex="20" name="txtNombreA" type="text" id="txtNombreA" autocomplete="off" placeholder=" " class="form-control InputPading" />
                            <label class="Labels">Nombre:</label>
                        </div>
                    </div>
                    <div class="col-md-3 MargFloatBoos">
                        <div class="form-group has-float-label">
                            <input tabindex="20" name="txtApellidosA" type="text" id="txtApellidosA" autocomplete="off" placeholder=" " class="form-control InputPading" />
                            <label class="Labels">Apellidos:</label>
                        </div>
                    </div>
                    <div class="col-md-3 MargFloatBoos">
                        <div class="form-group has-float-label">
                            <input tabindex="20" name="txtIdentificacionCrudA" type="text" id="txtIdentificacionCrudA" autocomplete="off" placeholder=" " class="form-control InputPading" />
                            <label class="Labels">Identificacion:</label>
                        </div>
                    </div>
                    <div class="col-md-3 MargFloatBoos">
                        <div class="form-group has-float-label">
                            <input tabindex="20" name="txtEmailA" type="text" id="txtEmailA" autocomplete="off" placeholder=" " class="form-control InputPading" />
                            <label class="Labels">Email:</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button tabindex="7606" type="button" id="btnGrabar" onclick="ActualizarUsuario(); return false;" style="border-radius: 0px 16px 0px 16px !important;" class="btn btn-grad" title="Guardar"><span class="fa ico_grabar faa-wrench animated"></span> Guardar</button>
                <button type="button" data-bs-dismiss="modal" style="border-radius: 0px 16px 0px 16px !important;" class="btn btn-cerrar"><span class="fas fa-sign-out-alt faa-horizontal animated"></span> Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
*@


